@implements IDisposable
@typeparam TModel where TModel : new()

<div class="container-fluid">
    @if(Recordset == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var _record in Recordset.Records)
        {
            @if (_record != null)
            {
                <EZEditFormSub TModel="TModel" Record="_record" >
                    <InputArea >
                        @InputArea?(context)
                    </InputArea>
                </EZEditFormSub>
            }
        }
    }
</div>

@code {
    [Parameter, EditorRequired] public EZRecordset<TModel>? Recordset { get; set; }
    [Parameter] public RenderFragment<TModel>? InputArea { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        parameters.SetParameterProperties(this);
        if (Recordset == null)
        {
            throw new InvalidOperationException($"The parameter {nameof(Recordset)} is required!");
        }
        return base.SetParametersAsync(ParameterView.Empty);
    }


    protected override void OnParametersSet()
    {
        Recordset?.AddOnChangeListeners(RefreshForm);
        base.OnParametersSet();
    }

    public void RefreshForm()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Recordset?.RemoveOnChangeListeners(RefreshForm);
    }
}
