@implements IDisposable
@typeparam TModel where TModel : new()

<div class="d-flex justify-content-center">
    <div class="p-3">
        <button class="btn @_btnColor btn-sm rounded-pill" @onclick="SaveAndCreateNewRecord" >
            <span class="mr-1">@_label @_modelName</span>
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public EZRecordset<TModel>? Recordset { get; set; }
    private string _modelName = string.Empty;
    private string _btnColor = "btn-info";
    private bool _allowSave = true;
    private string _label = "Create new";
    public override Task SetParametersAsync(ParameterView parameters)
    {
        parameters.SetParameterProperties(this);
        if (Recordset == null)
        {
            throw new InvalidOperationException($"{GetType()} requires a {nameof(Recordset)} parameter!");
        }
        string __fullName = typeof(TModel).FullName ?? string.Empty;
        string __namespace = typeof(TModel).Namespace ?? string.Empty;
        _modelName = __fullName
                            .Replace(__namespace, string.Empty)
                            .Replace(".", string.Empty);
        return base.SetParametersAsync(ParameterView.Empty);
    }

    protected override void OnParametersSet()
    {
        Recordset?.AddOnChangeListeners(RefreshFooter);
        base.OnParametersSet();
    }

    public void RefreshFooter(object sender)
    {
        _allowSave = false;
        if (Recordset is not null)
        {
            if (Recordset.CurrentRecord is not null)
            {
                if (Recordset.AllowUpdate && Recordset.CurrentRecord.IsChanged && !Recordset.CurrentRecord.HasValidationErrors)
                {
                    _allowSave = true;
                }
            }
        }
        if (_allowSave)
        {
            _label = "Save & Create new";
            _btnColor = "btn-success";
        }
        else
        {
            _label = "Create new";
            _btnColor = "btn-info";
        }
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Recordset?.RemoveOnChangeListeners(RefreshFooter);
    }

    public void SaveAndCreateNewRecord()
    {
        scanif (_allowSave)
        {
            Recordset?.CurrentRecord?.SaveChanges();
        }
        Recordset?.FocusOrAddNewRecord();
    }
}
